//  MIGRATION

//  These changes allow rows to work with
//  existing templates in BK10

// Template styling resets

#migrated {
    // Remove spacing from last or only widget inside a row
    [data-name="row"] .column .widget,
    [data-name="row"] .widget:only-child {
        margin-bottom: 0;
    }

    // Remove columns max-width from pricing layout
    .row--layout-pricing-1a [data-name="responsivecolumns"] {
        max-width: 100%;
        width: 100%;

        @media @tablet {
            width: 90%;
        }
    }

    // Hides opaque bars on row overlay, useful for contained width sites
    .row-overlay:before,
    .row-overlay:after {
        display: none;
    }

    // Re-add the reset styles

    // Replaces main padding by moving this to the first widget in the zone
    &.edit #page-zones__main-overlay + .widget:not([data-name="row"]) {
        margin-top: 0; // Main padding top
    }

    // Add spacing to the top of a widget when it follows a row
    #page-zones__main > [data-name="row"] + .widget:not([data-name="row"]) {
        margin-top: 20px; // Widget margin bottom
    }

    // Read widget spacing inside of rows
    [data-name="row"] .column .widget + .widget {
        margin-top: 12px;
    }

    .row--width-contained .row__container {
        margin: 0 auto;
        max-width: none;
        width: auto;
    }
}