// ----------------------------------------
// Agentour: LESS > Widgets > Buttons
// ----------------------------------------
//
// #Button
// #Tweet Button
// #Click to Call
// #Dropbox
// #Facebook Like
// #Paypal
// #Social Icons
//
// ----------------------------------------

// -----------------------------
// #Button
// -----------------------------

.button,
.link-button,
.tweet .button,
.clicktocall .phone-number-link,
a.ecomproduct__button,
.contentgroup__link {
    cursor: pointer;
    position: relative;
    display: inline-block;
	border: 2px solid @color__button--background;
    padding: 0 2em;
	height: 45px;
    .appearance(none);
    .border-radius(4px);
	.transition (all, 0.5s, ease);
    background-color: transparent;
	font-family: @font__button--font-family;
	font-size: @font__button--font-size;
	font-weight: @font__button--font-weight;
	line-height: @font__button--line-height;
	letter-spacing: @font__button--letter-spacing;
    color: @color__button--text;
	
	.make-font-a-little-smaller(@font__button--font-size);
	.make-font-smaller(@font__button--font-size);
	.make-font-a-lot-smaller(@font__button--font-size);

	.style--light & {
        border-color: @contrast--light;
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
        border-color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
        border-color: @contrast--dark;
    }
	
    &:hover {
		border: 2px solid @color__button--background--hover;
        background-color: transparent;
    	color: @color__button--text--hover;
    	.transition (all, 0.5s, ease);

    	.style--light & {
    		border-color: @color--accent;
            color: @color--accent;
        }

        .style--accent & {
        	border-color: fade(@contrast--accent, 85%);
            color: fade(@contrast--accent, 85%);
        }

        .style--dark & {
        	border-color: fade(@contrast--dark, 85%);
            color: fade(@contrast--dark, 85%);
        }
    }
	
	// Focus style for easier keyboard navigation
	
	&:focus {
//    	border: 4px solid @color-highlight;
	}
	
	// Active style for when you press a button down
	
	&:active {
	}
}

.button,
.link-button,
.tweet .button,
.clicktocall .phone-number-link,
.dropbox .button,
.paypalbuynow .button {
	&:before,
	&:after {
		font-size: 1.5em;
		font-weight: 400;
	}
	
	&:before {
		margin-right: 0.5em;
	}
	
	&:after {
		margin-left: 0.5em;
	}
}


// -----------------------------
// #Tweet Button
// -----------------------------

// -----------------------------
// #Click to Call
// -----------------------------

.clicktocall .label {
    margin-left: -0.5em;
}

// -----------------------------
// #Dropbox
// -----------------------------

.dropbox {
	display: table;
}

.dropbox__button,
.dropbox__label {
	display: table-cell;
	vertical-align: middle;
}

.dropbox__label {
	width: 100%;
	padding-left: 1em;
}

// -----------------------------
// #Facebook Like
// -----------------------------


// -----------------------------
// #Paypal
// -----------------------------


// -----------------------------
// #Social Icons
// -----------------------------

// The List of Social Icons

.social-list {
    margin: 0 -1em;
}

.social-item {
	margin: 0.8em;
	padding: 0;
	width: 36px;
	height: 36px;
	&:hover {
	}

}

.social-link {
	display: block;
	text-align: center;
	line-height: 32px;
	border: 2px solid @color__button--background !important;
	color: @color__button--text !important;
	.transition (all, 0.5s, ease);
	.border-radius(4px);

	.style--light & {
        border-color: @contrast--light!important;
        color: @contrast--light!important;
    }

    .style--accent & {
        color: @contrast--accent!important;
        border-color: @contrast--accent!important;
    }

    .style--dark & {
        color: @contrast--dark!important;
        border-color: @contrast--dark!important;
    }

	&:hover {
		text-decoration: none;
		border: 2px solid @color__button--background--hover !important;
		color: @color__button--text--hover !important;
		.transition (all, 0.5s, ease);

		.style--light & {
            border-color: @color--accent!important;
            color: @color--accent!important;
        }

        .style--accent & {
            border-color: fade(@contrast--accent, 85%)!important;
            color: fade(@contrast--accent, 85%)!important;
        }

        .style--dark & {
            border-color: fade(@contrast--dark, 85%)!important;
            color: fade(@contrast--dark, 85%)!important;
        }
	}

	// Icon

	&:before {
		margin: 0 auto;
		padding: 0;
		font-size: 1.2em;
		display: block;
	}
}

// The name of the button is not displayed.

.socialicons__social-name {
	display: none;
}