// Agentour: LESS > Widgets > Image
//
// Conditional Mixins
// Image
// Caption
//

// Conditional Mixins

// Conditional if the image background 
// is not the same as the page background.

.image-widget-background--spacing() when not (@color__image--background = @color__body--background) {
	padding: 0;
}

// Image

.widget[data-name="image"] {
	.image-widget-background--spacing();
	background: @color__image--background;

	.style--light & {
        background-color: @color--light;
    }

    .style--accent & {
        background-color: @color--accent;
    }

    .style--dark & {
        background-color: @color--dark;
    }
}

// Caption

.caption.imagewidget__caption.js-pswp-image-trigger {
    width: 80%;
	max-width: @layout-width-desktop;
	margin: 0.5em auto 0;
	
    @media @mobile {
        width: 90%;
	}
}

// Conditional if the container background 
// is not the same as the page background.

.image-caption--spacing() when not (@color__image--background = @color__body--background) {
	margin-bottom: 0;
}

.imagewidget__caption {
	.image-caption--spacing();
}

// Image Title

.image-title {
	.heading--4;
	color: @color__image-title--text;
}

// Image Description

.image-description {
	color: @color__image-description--text;
}

.imagewidget__image-title,
.imagewidget__image-description {

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}
