// IMAGE

// Conditional Mixins

.image-widget-background--spacing() when not (@color__image--background = @color__body--background) {
	padding: 0;
}

// Image

.widget[data-name="image"] {
	.image-widget-background--spacing();
	background: @color__image--background;

	.style--light & {
        background-color:@color__image--background;
    }

    .style--accent & {
        background-color: @color--accent;
    }

    .style--dark & {
        background-color: @color--dark;
    }
}

// Caption

.caption.imagewidget__caption.js-pswp-image-trigger {
    .content-spacing;
    margin-top: 0.5em;
}

.image-caption--spacing() when not (@color__image--background = @color__body--background) {
	margin-bottom: 0;
}

.imagewidget__caption {
	.image-caption--spacing();
}

// Image Title

.image-title {
	.heading--4;
    line-height: 1.2em;
	color: @color__image-title--text;

    .style--light & {
        color: @color__image-title--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

// Image Description

.image-description {
	color: @color__image-description--text;

    .style--light & {
        color: @color__image-description--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

.image-title + .image-description {
    margin-top: -0.5em;
    padding-top: 0;
}