// IMAGE

// Conditional Mixins

.image-widget-background--spacing() when not (@color__image--background = @color__body--background) {
	padding: 0;
}

// Image

.widget[data-name="image"] {
	.image-widget-background--spacing();
	background: @color__image--background;

	.style--light & {
        background-color:@color__image--background;
    }

    .style--accent & {
        background-color: @color--accent;
    }

    .style--dark & {
        background-color: @color--dark;
    }
}

// Caption

.caption.imagewidget__caption.js-pswp-image-trigger {
    width: 80%;
	max-width: @layout-width-desktop;
	margin: 0.5em auto 0;
	
    @media @mobile {
        width: 90%;
	}
		
	.responsivecolumns & {
		width: 100%;

		@media @mobile {
			width: 90%;
		}
	}
}

.image-caption--spacing() when not (@color__image--background = @color__body--background) {
	margin-bottom: 0;
}

.imagewidget__caption {
	.image-caption--spacing();
}

// Image Title

.image-title {
	.heading--4;
	color: @color__image-title--text;

    .style--light & {
        color: @color__image-title--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

// Image Description

.image-description {
	color: @color__image-description--text;

    .style--light & {
        color: @color__image-description--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}